@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(113 119 144 / 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.map_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_text h1 {
    font-size: 3.7vw;
    font-weight: 600;
    color: red;
    margin: 0.83vw auto;
}

.map {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.location li {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 1.04vw;
}

.location li svg {
    width: 1.8vw;
    height: 2.2vw;
}

.location li:nth-child(1) {
    top: 10.4vw;
    right: 10.4vw;
}



.location li:nth-child(2) {
    top: 4vw;
    right: 22vw;
}

.map img {
    width: 100%;
    height: 50vw;
}

.adress {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    border-radius: 0.5vw;
    padding: 1vw;
    background-color: #fff;

}

.adress h1 {
    color: red;
    font-size: 2vw;
    cursor: pointer;
    font-weight: 600;
}


.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    max-width: 54vw;
    padding: 1vw;
    border-radius: 0.52vw;
    background-color: white;
    cursor: pointer;
}

.modal_header h1 {
    color: red;
    font-weight: 600;
    font-size: 2vw;
}

.modal_header span {
    color: gray;
}

.modal_body h2 {
    color: gray;
    font-weight: 500;
    font-size: 1.5vw;
    margin-bottom: 0.52vw;
}

.modal_body p {
    color: black;
    font-weight: 400;
    line-height: 1.8vw;
    font-size: 1.3vw;
}


.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
}

.modal_header span {
    font-size: 2.3vw;
    font-weight: 400;
}

.hidden {
    display: none;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.2vw);
}


::-webkit-scrollbar {
    width: 0.625vw;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.26vw silver;
    border-radius: 0.52vw;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 0.52vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(192, 192, 192, 0.644);
}